* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.item {
    background-color: #7000bf;
    color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item > *{
    margin: 0;
}

.new-book-button {
    background-color: #7000bf;
    color: #fff;
    border-radius: 20px;
    padding: 12px 24px;
    border: 0;
    margin: 0 auto;
}

dialog {
    border-radius: 20px;
    border: 3px solid #e0e0e0;
    padding: 24px 30px;
    box-shadow: 4px 2px 4px #808080
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin: 0;
}

form>* {
    padding: 6px 0;
}

input[type='text'],
input[type='number'] {
    border-radius: 20px;
    padding: 8px 12px;
    outline: none;
    border: 0;
    background-color: #e0e0e0;
}

input[type='submit'] {
    background-color: #7000bf;
    color: #fff;
    border-radius: 20px;
    padding: 12px 24px;
    border: 0;
    margin-top: 8px;
}

input[type='submit']:hover,.new-book-button:hover{
    background-color: #6202a6;
    cursor: pointer;
}

input[type='radio'] {
    accent-color: #7000bf;
}

.cancel-button {
    width: 100%;
    background-color: #e0e0e0;
    color: #000;
    border-radius: 20px;
    padding: 12px 24px;
    border: 0;
    margin-top: 8px;
}

.cancel-button:hover{
    background-color: #c7c5c5;
}

h2{
    height: 3em;
    line-height: 1.5em;
}

.read-container{
    align-self: flex-end;
}

input[type='checkbox']{
    transform: scale(1.2);
    margin-left: 6px;
    margin-top: 8px;
    accent-color: #e0e0e0;
}

.remove-book-button{
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 12px 24px;
    border: 0;
    margin-top: 8px;
}

.remove-book-button:hover{
    background-color: #e0e0e0;
}

button:hover, input[type='radio']{
    cursor: pointer;
}