*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.item{
    background-color: #7000bf;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}